<!DOCTYPE html>
<html>
  <head>
    <title>Explore And Learn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <!-- REACT CONTENT (including layout) -->
      <div id="main">
      </div>
      <!-- container data gets rendered here -->
      <%= yield %>
    </main>
  </body>
</html>

<%# <p class="notice"><%= notice %>
<%# <p class="alert"><%= alert %>
